<?xml version="1.0"?>
<!-- 
/**
 * Copyright © Duruo, Inc. All rights reserved.
 * 594153885@qq.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <catalog>
      <ajaxscroll>
        <enabled>1</enabled>
      </ajaxscroll>
    </catalog>
  </default>
</config>